<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html">

    <h:form id="#{formId}">
        <p:dialog widgetVar="#{widgetName}" id="#{widgetName}" modal="true" resizable="false" closable="false" 
            dynamic="true" width="45em" closeOnEscape="true">
            <p:ajax event="close" resetValues="true" update="grp" />

            <f:facet name="header">
                <h:outputText value="#{dialogTitle}" />
            </f:facet>

            <div class="ui-fluid">
                <p:panelGrid id="grp" styleClass="dialog-grid-panel noBorders">
                    <p:row rendered="#{not empty unitManager.dialogUnit.usedBy}">
                        <p:column colspan="2" style="text-align: center; font-weight: bold;">
                            <h:outputText value="The unit is already in use by: #{unitManager.dialogUnit.usedBy}." />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column styleClass="alignRight dialog-labels-width-2">
                            <p:outputLabel for="unitName" value="Name:" />
                        </p:column>
                        <p:column>
                            <p:inputText id="unitName" value="#{unitManager.dialogUnit.name}" required="true" tabindex="1" 
                                requiredMessage="Please enter a name" validator="#{unitManager.nameValidator}"
                                disabled="#{not securityPolicy.getUIHint('UNIT_MODIFY') and not unitManager.dialogUnit.unitAdd}"/>
                            <p:message for="unitName" />
                        </p:column>
                    </p:row>
                    
                    <p:row>
                        <p:column styleClass="alignRight dialog-labels-width-2" style="padding-top: 0.5em;">
                            <p:outputLabel for="unitDesc" value="Description:" />
                        </p:column>
                        <p:column>
                            <p:inputTextarea id="unitDesc" rows="5" maxlength="255" required="true" tabindex="2" 
                                requiredMessage="Please enter a description" autoResize="false" 
                                value="#{unitManager.dialogUnit.description}" />
                            <br/>
                            <p:message for="unitDesc" />
                        </p:column>
                    </p:row>
    
                    <p:row>
                        <p:column styleClass="alignRight alignMiddle dialog-labels-width-2">
                            <p:outputLabel for="unitSymbol" value="Symbol:" />
                        </p:column>
                        <p:column>
                            <p:inputText id="unitSymbol" value="#{unitManager.dialogUnit.symbol}" required="true" 
                                requiredMessage="Please enter a symbol" tabindex="3" 
                                disabled="#{not securityPolicy.getUIHint('UNIT_MODIFY') and not unitManager.dialogUnit.unitAdd}"/>
                            <p:message for="unitSymbol" />
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </div>
            
            <p:panel style="text-align: right; padding: 0; border: 0;" styleClass="dialogButtonPanel">
                <p:commandButton value="Save" id="save" styleClass="dialogButton defaultCommand" tabindex="4" 
                        action="#{unitManager[submitHandler]}" icon="ui-icon-disk" title="Save" 
                        oncomplete="if (args &amp;&amp; !args.validationFailed) { PF('#{widgetName}').hide(); #{closeDialogActions} }" 
                        update=":unitsForm:unitsTable :unitsForm:deleteButton :unitsForm:editButton :unitsForm:exportButton
                                :unitsForm:duplicateButton grp :unitsForm:growl" />
                <p:commandButton value="Cancel" styleClass="dialogButton" onclick="PF('#{widgetName}').hide();" 
                        update="grp" resetValues="true" tabindex="5" icon="ui-icon-close" title="Cancel" />
            </p:panel>

            <p:defaultCommand target="save" />
        </p:dialog>
    </h:form>
</ui:composition>
