<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:p="http://primefaces.org/ui" 
      xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <f:facet name="first"> 
            <meta http-equiv="X-UA-Compatible" content="IE=EDGE" /> 
        </f:facet> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />      
        <h:outputStylesheet name="/css/layout.css"/>
        <link rel="shortcut icon" href="resources/images/CCDB.ico" />
        <title>#{msgs.webTitle}</title>
        <h:outputScript library="js" name="ccdb-common.js" />
    </h:head>

    <h:body style="overflow: hidden">
        <h:panelGroup id="top" layout="block">
            <ui:insert name="top">
                <h:panelGroup id="header" layout="block" rendered="#{msgs.showHeader}">
                    <ui:include src="header.xhtml" />
                </h:panelGroup>
                <h:panelGroup id="menu" layout="block">
                    <ui:include src="menu.xhtml" />
                </h:panelGroup>
            </ui:insert>
        </h:panelGroup>

        <h:panelGroup id="content" layout="block">
            <h:panelGroup rendered="#{loginManager.loggedIn}">
                <ui:insert name="content">Content</ui:insert>
            </h:panelGroup>
        </h:panelGroup>
        
        <div class="footer-message">
            <h:outputText value="#{msgs.title} v#{msgs.titleVersion}" />
            <h:outputText value=" - " rendered="#{footerManager.supportEmail != null}" />
            <h:outputLink rendered="#{footerManager.supportEmail != null}"
                    value="mailto:#{footerManager.supportEmail}?subject=#{msgs.supportEmailSubject}"
                    style="color: lightgray;">
            	Contact us
            </h:outputLink>
        </div>
        
        <p:dialog modal="true" widgetVar="statusDialog" showHeader="false" draggable="false" closable="false" 
                resizable="false">  
            <p:graphicImage value="/resources/images/ajax-loader.gif" />  
        </p:dialog>
        
        <h:form id="loginDialogForm">         
            <p:dialog id="loginDialog" widgetVar="loginDialog" modal="true" closable="false" 
                    visible="#{!loginManager.isLoggedIn()}" resizable="false" width="26em">
                <f:facet name="header">
                    <h:outputText value="Sign In" />
                </f:facet>
                <p:panelGrid id="grid" columns="2" styleClass="noBorders">
                    <p:outputLabel for="userid" value="Username" />
                    <h:panelGroup>
                        <p:inputText id="userid" value="#{loginManager.userId}" label="Username" required="true" />
                        <p:watermark for="userid" value="Enter username" />
                        <p:message for="userid" />
                    </h:panelGroup>
                    <p:outputLabel for="passwd" value="Password" />
                    <h:panelGroup>
                        <p:password id="passwd" value="#{loginManager.password}" label="Password" required="true"/>
                        <p:watermark for="passwd" value="Enter password" />
                        <p:message for="passwd" />
                    </h:panelGroup>
                </p:panelGrid>
                <p:separator />
                <p:commandButton id="loginButton" value="Sign In" title="Sign In" update=":loginDialogForm :top :content"
                		onstart="PF('statusDialog').show();" oncomplete="PF('statusDialog').hide();" 
                        action="#{loginManager.onLogin}" style="float: right;" styleClass="dialogButton defaultCommand" />                
				<!--
				Do not set default command as Chrome v62 and others has a bug that it tries to populate the login
				and submit it even though password data is not yet visible in JS due to its own safety mechanism.
				Without defaultCommand the login is not submitted when Enter is pressed if no fields are in focus, but
				this is pretty rare since fields come into focus by default.   
				
				More info: 
				https://stackoverflow.com/questions/35049555/chrome-autofill-autocomplete-no-value-for-password
				-->
                <!--  p:defaultCommand target="loginButton" />-->
                
            </p:dialog>
            <p:blockUI block="loginDialog" trigger="loginButton" />
        </h:form>

        <script type="text/javascript">
            // <![CDATA[
            jQuery(window).resize(function() {
                adjustFooterPosition();
            });

            jQuery(document).ready(function() {
            	removeSessionIdAndParametersFromUrl();            
                adjustFooterPosition();
                CCDB.takeOverAb();
            });

            PrimeFaces.widget.DataTable.prototype.filter = function() {
                var $this = this,
                options = {
                    source: this.id,
                    update: this.id,
                    process: this.id,
                    formId: this.cfg.formId,
                    params: [{name: this.id + '_filtering', value: true},
                             {name: this.id + '_encodeFeature', value: true}],
                    onsuccess: function(responseXML, status, xhr) {
                        PrimeFaces.ajax.Response.handle(responseXML, status, xhr, {
                                widget: $this,
                                handle: function(content) {
                                    this.updateData(content);

                                    if(this.cfg.scrollable) {
                                        this.alignScrollBody();
                                    }

                                    if(this.isCheckboxSelectionEnabled()) {
                                        this.updateHeaderCheckbox();
                                    }
                                }
                            });

                        return true;
                    },
                    oncomplete: function(xhr, status, args) {
                        var paginator = $this.getPaginator();
                        if (paginator) {
                            paginator.setTotalRecords(args.totalRecords);
                        } else {
                            $this.cfg.scrollLimit = args.totalRecords;
                        }
                        
                        if($this.cfg.clientCache) {
                            $this.clearCacheMap();
                        }
                    }
                };

                if (this.hasBehavior('filter')) {
                    var filterBehavior = this.cfg.behaviors['filter'];
                    filterBehavior.call(this, options);
                }  else {
                    PrimeFaces.ajax.AjaxRequest(options); 
                }
            };
            // ]]>
        </script>
    </h:body>
</html>
