/*
    Document   : Layout
    Created on : Oct 16, 2013, 3:48:17 PM
    Author     : Vasu V <vuppala@frib.msu.org>
    Author     : Miha Vitorovic <miha.vitorovic@cosylab.com>
    Author     : Andraz Pozar <andraz.pozar@cosylab.com>
    Description:
        Purpose of the stylesheet follows.
*/


body {
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
}

.footer-message {
    position: absolute;
    bottom: 0.25em;
    color: lightgray;
    text-align: center;
    font-size: 0.9em;
    margin-left: 1.5em;
}

/* for all of primefaces components */
.ui-widget,
.ui-widget .ui-widget {
    font-size: 12px;
}

.preliminary {
	color: #990033;
}

.ui-widget table {
    font-size: 12px;
}

/* text wrap around in data table */
.ui-datatable td {
    white-space: normal !important;
}

.noBorders, .noBorders>tbody>tr, .noBorders>tbody>tr>td {
    background: none;
    border: none !important;
    vertical-align: top;
}

.noPaddingRight, .noPaddingRight>tbody>tr>td {
    padding-right: 0 !important;
}


.noPaddingLeft, .noPaddingLeft>tbody>tr>td {
    padding-left: 0 !important;
}

.noPadding, .noPadding>tbody>tr>td {
    padding: 0 !important;
}

.ui-growl {
    position:absolute;
    top: 0%;
    left:50%;
}

.spartanTable>thead>th {
    text-align: left;
}

.dialogButton {
    margin-top: 1ex;
    margin-left: 1ex !important;
    margin-bottom: 1ex !important;
}

.panelTopAlign>tbody>tr>td {
    vertical-align: top;
    border: 0px solid LightGray;
    border-radius: 7px;
    /* box-shadow: 0 0 7px 2px #888888; */
}

.content {
    margin-left: 200px;
    position: relative;
}

.navigation {
    float: left;
    width: 180px;
}

.container {
    margin: 0 auto;
    width: 100%;
}

.properties-parent-info {
    float: left;
    width: 25%;
}

.property-values {
    float: right;
    width: 74%;
}

.dialog-grid-panel {
    text-align: left;
    width: 100%;
}

#hierarchies\:treeColumn {
    padding-left: 0 !important;
}

#hierarchies\:hierarchyTabs\:tree .ui-treetable-scrollable-body,
#hierarchies\:hierarchyTabs\:powersTree .ui-treetable-scrollable-body,
#hierarchies\:hierarchyTabs\:controlsTree .ui-treetable-scrollable-body {
    overflow-y: auto;
    overflow-x: hidden;
}

#hierarchies\:hierarchyTabs .ui-tabs-panel {
    padding: 0 !important;
}

.menu {
    background-color: transparent;
}

.alignTop {
    vertical-align: top;
}

.alignMiddle {
    vertical-align: middle !important;
}

.export-grid img {
    border: none;
}

.hierarchies-attributes-cell .ui-datatable-scrollable-body {
    margin-right: 0 !important;
    overflow-y: auto;	
    overflow-x: hidden;
}

.installation-details .ui-widget-content {
    padding: 0 !important;
}

.export-grid {
    margin: 5px auto;
}

.ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap, .ui-layout-bd, .ui-layout-hd{
    border: none;
}

.ui-panel-title, .ui-panelgrid-header {
    font-weight: normal;
}

.link {
    text-decoration: underline !important;
}

.boxf {
    margin: 0px;
    padding: 10px;
    border: 0px solid #000000;
    color: black;
    width: 98%;
    margin: 0  auto;
}

.menubar {
    color: LightSlateGray;
}

#top {
    position: relative;
    color: black;
    padding: 2px;
    margin-bottom: 1em;
}

#content {
    margin: 0;
    width: 100%;
}

.bottom {
    position: bottom;
    color:  #009999;
    padding: 5px;
    text-align:  center;
}

.title {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
}

a {
    text-decoration: none !important;
}


.alignRight, td.alignRight {
    text-align: right;
}

.alignCenter, td.alignCenter {
    text-align: center;
}

.titlebar, .titlebar>tbody>tr, .titlebar>tbody>tr>td {
    padding: 0px !important;
    width: 100%;
    /* background-image: url('../images/header-bg.png');
    background-repeat: repeat; */
    background: rgb(206,220,231); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(206,220,231,1)), color-stop(100%,rgba(89,106,114,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=1 ); /* IE6-9 */
}

.borderlessPanelGrid>tr, .borderlessPanelGrid>td {
    border: none !important;
}

.devicesView tr, .devicesView td {
    border: none !important;
}


.devicesView .ui-datatable .ui-datatable-data tr, .devicesView .ui-datatable .ui-datatable-data-empty tr, .devicesView .ui-datatable .ui-datatable-data td, .devicesView .ui-datatable .ui-datatable-data-empty td{
    border:1px solid !important;
}

.menubar .ui-menuitem-text {
    font-size: larger;
    font-weight: bolder;
}

.menu-selected, .menu-selected > .ui-menuitem-text, .menu-selected > a > .ui-menuitem-text {
    text-decoration: underline;
}

.dialog-labels-width-1 {
    width: 18ex;
}

.dialog-labels-width-2 {
    width: 12ex;
}

.property-selection .ui-dialog-content {
    overflow-y: hidden !important;
}

#addPropertyForm\:propertyNameMsg > div {
    padding: 2px 10px 2px 10px;
}

#addPropertyForm\:propertyNameMsg .ui-messages-error-icon {
    width: 16px;
    height: 16px;
    background-position: 0px -94px;
}

#addPropertyValueForm\:propertyValidationMessage .ui-messages-error,
#modifyPropertyValueForm\:valueInputGroup .ui-messages-error {
    margin: 0 5px;
	padding: 2px 10px 2px 10px;
}

#addPropertyValueForm\:propertyValidationMessage .ui-messages-error ul,
#modifyPropertyValueForm\:valueInputGroup .ui-messages-error ul {
    margin-right: 0;
}

#addPropertyValueForm\:valueInputGroup .ui-messages-error-icon,
#modifyPropertyValueForm\:valueInputGroup .ui-messages-error-icon {
    width: 16px;
    height: 16px;
    background-position: 0px -94px;
}

.dialogWithList .ui-dialog-content {
    overflow: hidden !important;
}

.dialogListTable .ui-datatable-scrollable-body {
    overflow-x: hidden;
}

.logPanelHeader .ui-widget-content {
    padding: 0 !important;
}

.logPanelHeader {
    border: 0 !important;
    padding: 0 0 2px 0 !important;
}

.tableColWidth60 {
    width: 60%;
}

.tableColWidth30 {
    width: 30%;
}

.tableColWidth20 {
    width: 20%;
}

.tableColWidth10 {
    width: 10%;
}

.ui-datatable .ui-column-filter {
    max-width: 90% !important;
}

.nameActive {
}

.nameObsolete {
    color: #40a0c0;
    font-style: oblique;
}

.nameDeleted {
    color: #b84020;
    font-style: oblique;
}

.nameMissing {
    text-decoration: line-through;
}

.nameContainer {
}

.ui-fieldset-content {
    height: calc(100% - 2em);
}

.ui-datatable-tablewrapper, .ui-tabs-panel, .ui-datatable-scrollable {
    height: 100%;
}

#hierarchies\:hierarchyTabs .ui-tabs-panels {
    height: calc(100% - 3em);
}

legend {
    position: relative;
}

.dialogButtonPanel .ui-panel-content {
    padding: 0 !important;
}

.dialogButtonPanel .ui-panel-content .ui-widget {
	padding-left: 0 !important;
}

.buttonPanel {
	text-align: right;
	border: 0;
	padding: 0 !important;
	margin-top: 1.5ex !important;	
	margin-bottom: 1.5ex !important;	
}

.buttonRow {
	text-align: right;
	border: 0;
	padding: 0 !important;
	margin-top: 0.7ex !important;	
	margin-bottom: 0.7ex !important;	
}

.buttonPanel .ui-panel-content,
.buttonRow .ui-panel-content {
	padding: 0 !important;
}

.buttonPanel .ui-panel-content .ui-widget,
.buttonRow .ui-panel-content .ui-widget {
	margin-left: 0.5ex !important;
    margin-right: 0.5ex !important;
}

.defaultCommand .ui-button-text {
    border-color: rgba(0, 0, 0, 0.4);
    border-style: dotted;
    border-width: thin;
}

.noScrollTable .ui-datatable-scrollable-header, .noScrollTable .ui-datatable-scrollable-body {
    width: 100% !important;
}

#hierarchies\:content .ui-accordion-content {
    padding: 0 0 0.5em 0;
}

#hierarchies\:content\:slotAttributes .ui-panel-content, 
#hierarchies\:content\:relationsTable .ui-panel-content, 
#hierarchies\:content\:installationDetails .ui-panel-content {
    height: 100%;
    padding: 0;
}

.messageWarning {
    font-style: oblique;
}

#hierarchies\:hierarchyTabs\:containsFilterMode .ui-chkbox-box {
    vertical-align: middle;
}

#logsForm\:contentPanel .ui-panel-content {
    max-width: 30em;
    max-height: 30em;
}